
<div class="container main mt-5 mb-5">
<p class=" section p-3" *ngIf="state" [routerLink]="'/'+routename">{{section}}</p>

  <owl-carousel-o [options]="customOptions" class="carousal">

    <ng-template carouselSlide *ngFor="let item of image">
      <div class="image_wrapper ms-3" [routerLink]="item.routerLink">
        
        <div class="overlay d-flex justify-content-center align-items-center">
            <p>{{item.name}}</p>
        </div>
          <div class="image d-flex align-items-center p-3">
            <img [src]="item.img" alt="" />
          </div>

      </div>
    </ng-template>

  </owl-carousel-o>
</div>
