
.row{
    margin-left: 0px !important;
}
thead tr{
    width: 100%;
}
thead tr th{
    width: 6%;
}
tbody tr td{
    display: flex;
    align-items: center;
}
.product img{
    width: 150px;
    height: 150px;
}

.empty{
    height: 450px;
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty img{
    height: 100px;
}

.empty button{
    border-radius: 0;
}

.btns button{
    margin-left: 10px;
    border-radius: 0px;
    
}
.total{
    border-top: 1px solid gray;
}
.product{
    padding: 0px;
}
.count{
    font-size:15px;
}
.numsetter {
    display: flex;
    padding: 0px;
}
.numsetter button{
    border-radius:0px ;
}
.rmall{
    border-radius: 0px;
}
@media only screen and (max-width: 600px) {
        .product img{
            width: 100%;
            height: 100%;
        }
}