<div *ngIf="len == 0">
  <div class="container empty">
    <img
      src="https://cdni.iconscout.com/illustration/free/thumb/free-empty-cart-4085814-3385483.png"
      alt=""
    />
    <h1>Your Cart is Empty..</h1>
    <button routerLink="/" class="btn btn-outline-dark">Shop now</button>
  </div>
</div>

<div class="table container mt-5" *ngIf="len != 0">
  <table class=" col-12 mt-3">
    <thead class="d-none d-md-flex col-12">
      <tr class="col-12">
        <th ></th>
        <th >Product</th>
        <th >Price</th>
        <th >Quantity</th>
        <th >Sub Total</th>
        <th ></th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of postarray" class="mb-3 col-12 row">
        <td class="col-md-2 col-3 product">
          <img
            src="{{ item.imgUrl }}"
            alt=""
            
          />
        </td>

        <td class="col-md-2 col-9 d-flex flex-column flex-md-row align-items-start align-items-md-center " >
          <strong class="ps-3 ps-md-0">{{ item.name }}</strong>

          <div class="d-flex d-md-none flex-column ps-3">
            <p>{{ item.size }}</p>
            <p>
              <strong>{{ item.price*item.quantity | currency : "INR" }}</strong>
            </p>
          </div>
        </td>

        <td class="col-md-2 d-md-flex d-none"><strong>{{ item.price | currency : "INR" }}</strong></td>


        <td class="d-flex numsetter col-md-2 col-12">
            <div class="num col-3 col-md-12 d-flex justify-content-center justify-content-md-start mt-3 mt-md-0 mb-3 mb-md-0">
          <button class="btn btn-outline-dark">
            <i class="fa-solid fa-minus"></i>
          </button>
          <strong><p class="count mt-2 ps-3 pe-3">{{item.quantity}}</p></strong>
          <button class="btn btn-outline-dark">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
        </td>


        <td class="col-md-2 col-6 d-flex ">
          <strong class="d-flex align-items-center"
            ><p class="d-flex d-md-none">Sub total:</p>
            <p>{{ item.price*item.quantity| currency : "INR" }}</p></strong
          >
        </td>

         
        <td class="col-md-2 col-6 d-flex flex-row justify-content-center align-items-center">
          <div class="btns">
            <button class="btn btn-outline-dark" (click)="removefromcart(item)">
              <i class="bi bi-trash-fill"></i>
            </button>
            <button class="btn btn-outline-dark" (click)="clicked(item)">
              <i class="bi bi-bag-fill"></i>
            </button>
          </div>
        </td>
      </tr>

      <div class="d-flex justify-content-between">
        <h3 style="text-transform: uppercase; font-size: 16px; border: 1px solid black; margin:0px !important;cursor: pointer;" class="pt-1 ps-1 pe-1">
          Total: {{ userCart.subTotal | currency:'INR' }}
        </h3>
        <div>
        <button class="rmall btn btn-outline-dark " (click)="removeallfromcart()">Remove All</button>
      </div>
      </div>
    </tbody>
  </table>
</div>
