<div *ngIf="len==0">
  <div class="container empty">
      <img src="https://cdni.iconscout.com/illustration/free/thumb/free-empty-cart-4085814-3385483.png" alt="">
      <h1>Your Cart is Empty..</h1>
      <button routerLink="/menu" class="btn btn-outline-dark">Shop now</button>
    </div>
</div>


<div class="table container" *ngIf="len!=0">
  <table class="table">
      <thead>
          <tr>
              <th></th>
              <th >Product</th>
              <th >Price</th>
              <th>uantity</th>
              <th>Sub Total</th>
              <th ></th>

          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of postarray" class="mb-3">
              <td><img src="{{item.foodImg}}" alt="" style="width: 50px; height: 50px; border-radius: 50%;"></td>
              <td>{{item.foodName}}</td>
              <td>{{item.foodPrice | currency:'INR'}}</td>
              <td  class="d-flex numsetter">
                  <button  (click)="decriment(item)"><i class="bi bi-dash-square-fill"></i></button>
                  <input class="count"  [(ngModel)]="item.count" type="text" readonly>
                  <button  (click)="incriment(item)"><i class="bi bi-plus-square-fill"></i></button></td>
              <td>
                  {{item.subtotal | currency:'INR'}}        
              </td>
              <td><div class="btn">
                  <button class="btn btn-outline-dark" (click)="removefromcart(item) "><i class="bi bi-trash-fill"></i></button>
                  <button class="btn btn-outline-dark" ><i class="bi bi-bag-fill"></i></button>
              </div></td>
          </tr>

          <div>
              <h3><strong>Total:{{subtotal}}</strong></h3>
          </div>
      </tbody>
  </table>
</div>
