<div class="container-fluid mt-5">
  <div class="main mt-5">

    <div class="submain container row col-12   mt-5 mb-3">
      <div class="img  col-6 d-none d-lg-flex">
        <img src="https://www.planstudyabroad.com/images/login.png" alt="" />
      </div>

      <div class="login-main col-12 col-md-6  ml-5 mr-5 mt-3 mb-3">
        <div class="login col-lg-6">
          <h1>Log In</h1>
          <p>Discover the world of style;</p>
          <div class="error text-danger">
            {{loginMessage}}
          </div>
          <div class="input">
            <form [formGroup]="reg" (ngSubmit)="onsubmit()">
              <input
                type="Email"
                class="form-control"
                placeholder="Email"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submit && f.email.errors }"
              />
              <div *ngIf="submit && f.email.errors">
                <div
                  *ngIf="f.email.errors['required']"
                  class="warn text-danger"
                >
                  Field required
                </div>
                <div *ngIf="f.email.errors['email']" class="warn text-danger">
                  invalid format(eg: john@gmail.com)
                </div>
              </div>
              <input
                type="password"
                class="form-control"
                placeholder="password"
                formControlName="password"
                [ngClass]="{ 'is-invalid': submit && f.password.errors }"

              />
              <div *ngIf="submit && f.password.errors">
                <div
                  *ngIf="f.password.errors['pattern']"
                  class="warn text-danger"
                >
                  minimum 8 digits required
                </div>
                <div
                  *ngIf="f.password.errors['required']"
                  class="warn text-danger"
                >
                  Field required
                </div>
              </div>
              <button class="form-control btn btn-dark">Sign In</button>
            </form>
          </div>
        </div>
        <div class="signin col-lg-4 mt-5">
          <p>New User ? &nbsp;<a routerLink="/SignUp" [queryParams]="{ReturnUrl:ReturnUrl}">Sign-up</a>   </p>
         
          
        </div>
        <div class="demo d-flex flex-column align-items-center justify-content-center p-1">
          <h3><strong>Email :  Althaa@gmail.com</strong></h3>
          <h3><strong>Password :  Althaa123</strong></h3>
        </div>
      </div>
    </div>
  </div>
</div>


