.list li{
    list-style: none;
    font-size: 23px;
    padding: 0px 15px;
    cursor: context-menu;
    color: rgba(0, 0, 0, 1);


}
.search input{
    border: 1px solid black;
    border-radius: 0px;
}
.search input::placeholder{
    color:black;
}
.search .form-control:focus{
    box-shadow: none;
    outline: none;
}
.search button{
    border-radius: 0px;
    border-left: transparent;
    justify-content: start;
    font-weight: 900;
}
.list ul{
    margin: 0px;
}
.bi_col{
    color: red;
    cursor: pointer;
}
.list{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.search input:focus::placeholder{
    color: transparent;
}
.list li button{
    border: none;
    background-color: transparent;
}
h1{
    cursor: context-menu;
    
}
.ham button{
    border: none;
    background-color: transparent;
    font-size: 24px;
}

.ham button:hover{
    color:rgba(0, 0, 0, 0.7) ;
}
.main{
    width: 100%;
    overflow: hidden;
    z-index: 100;
    background-color: white;

}

@media screen and (max-width:768px) {
    .logo h1 {
        font-size: 20px;
        text-align: center;
    }
    .list li {
        font-size: 18px;
        padding: 0px 10px;
    }
    .logo{
        padding-top: 6px;
    }
}
.logo img{
    width: 100%;
    height: 70%;
}


.slider_list li{
    list-style: none;
   padding: 0px 40px;
   cursor: pointer;
   border: 1px solid white;
}
.slider_list .inner_list{
    margin: 0px auto;
}
.slider_list li:hover{
    transition: font-weight .1s ease-in;
    color: rgba(0, 0, 0, 1);
    border: 1px solid black;
}
.slider_list li.active{
    color: white;
    background-color: black;
}
.slider_list ul{
   display: flex;
   justify-content: space-between;
}
.slider_list{
    height: 50px;
    display: flex;
    align-items: flex-end;
    position: relative;
    border-bottom: 1px solid black;
}

.slider_list .name{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius:0px 0px 10px 0px;
}

 .smlist{
    position: fixed;
    height: 1000vh;
    width: 50%;
    z-index: 1000000;
    background-color: white;
    top: 0;
    left: -2000px;
    transition: all 0.5s ease-in-out;
}
.smlist li{
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 10px;
    width: 120px;
    text-align: center;
    letter-spacing: 1px;
}
.smlist .ul{
    margin: 0px auto;
}
.smlist .ul li:hover{
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
}
.smlist .slider_active{
    background-color: black;
    color: white;
}
.slide_on{
    left: 0px;
    transition: all 0.3s ease-in-out;
}


.sidebar_toggle {
    width: 32px;
    height: 38px;
    position: relative;
    cursor: pointer;
    padding-top: 3px;
    margin-left: 30px;
}

.sidebar_toggle span {
    display: block;
    box-sizing: border-box;
    background-color: black;
}

.sidebar_toggle .toggle_btn {
    position: absolute;
    height: 100%;
    width: 100%;
}

.sidebar_toggle .toggle_btn span {
    width: 100%;
    height: 2px;
    position: relative;
    top: 0;
    left: 0;
    margin: 6px 0;
    transition: width ease 0.25s;
}

.sidebar_toggle .toggle_btn span:nth-child(1) {
    transition-delay: 0.5s;
    width: 100%;
}

.sidebar_toggle .toggle_btn span:nth-child(2) {
    transition-delay: 0.625s;
    width: 75%;
}

.sidebar_toggle .toggle_btn span:nth-child(3) {
    transition-delay: 0.5s;
    width: 100%;
}

.sidebar_toggle .cross {
    position: absolute;
    height: 34px;
    width: 34px;
    transform: rotate(45deg);
    left: -2px;
    top: 2px;
}

.sidebar_toggle .cross span:nth-child(1) {
    height: 0%;
    width: 2px;
    position: absolute;
    top: 0;
    right: 16px;
    transition-delay: 0s;
    transition: height ease 0.25s;
}

.sidebar_toggle .cross span:nth-child(2) {
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    top: 16px;
    transition-delay: 0.25s;
    transition: width ease 0.25s;
}

.sidebar_toggle.open .toggle_btn span {
    width: 0%;
}

.sidebar_toggle.open .toggle_btn span:nth-child(1) {
    transition-delay: 0s;
}

.sidebar_toggle.open .toggle_btn span:nth-child(2) {
    transition-delay: 0.125s;
}

.sidebar_toggle.open .toggle_btn span:nth-child(3) {
    transition-delay: 0.25s;
}

.sidebar_toggle.open .cross span:nth-child(1) {
    height: 100%;
    transition-delay: 0.625s;
}

.sidebar_toggle.open .cross span:nth-child(2) {
    width: 100%;
    transition-delay: 0.375s;
}

