<div class="main">
  <div class="navbar col-12 row">
    <div class="ham col-1 d-flex align-items-center d-md-none">
      <button (click)="onclick()"><i class="bi bi-list"></i></button>
    </div>
    <div class="logo d-flex align-items-center col-3">
      <h1 routerLink="/">Godope</h1>
    </div>
    <div class="search col-4">
      <input type="text" placeholder="Search" class="form-control" #s (keyup.enter)="searchproduct(searchTerm)"  [(ngModel)]="searchTerm" />
    </div>
    <div class="list col-4 col-md-5">
      <ul class="d-flex">
        <li routerLink="/wishlist"><i class="bi bi-heart-fill"></i></li>
        <li routerLink="/cart">
          <i class="bi bi-cart"></i>
          <mat-icon *ngIf="count!=0" matBadge="{{count}}" matBadgeColor="warn"></mat-icon>
        </li>
        <li routerLink="/login"><i class="bi bi-person"></i></li>
      </ul>
    </div>
  </div>
  <app-list [vis]="show"></app-list>
</div>
