<div class="main mat-drawer-content">
  <div class="navbar col-12 row">
    <div class="logo d-flex align-items-center col-md-3 col-4">
      <img routerLink="/" src="../../../assets/Godope..png" alt="" />
    </div>
    <div class="search col-md-4 col-6 d-flex">
      <input
        type="text"
        placeholder="Search..."
        class="form-control"
        #s
        [(ngModel)]="searchTerm"
        (keyup.enter)="searchproduct(searchTerm)"
      />
      <button class="btn btn-outline-dark" (click)="searchproduct(searchTerm)">
        <i class="bi bi-search"></i>
      </button>
    </div>

    <div class=" d-md-flex d-none list col-2 col-md-5">
      <ul class="d-md-flex" *ngIf="IsLogged">
        <li routerLink="/wishlist">
          <i
            class="bi"
            [class.bi-heart]="hover"
            [class.bi-heart-fill]="!hover"
            [class.bi_col]="!hover"
            (mouseenter)="ishover()"
            (mouseleave)="isnothover()"
          ></i>
        </li>
        <li routerLink="/cart">
          <i class="bi bi-cart"></i>
          <mat-icon
            *ngIf="count != 0"
            matBadge="{{ count }}"
            matBadgeColor="warn"
          ></mat-icon>
        </li>
        <li ><i class="bi bi-person"></i></li>
      </ul>

      <ul class="d-md-flex before justify-content-end align-items-center col-12 me-md-5 " routerLink="/login" *ngIf="!IsLogged">
        <li>Log In</li>
      </ul>
      


    </div>
    
    <div class="hamburger d-md-none d-flex col-2 " id="hamburger" >
      <ul class="d-md-flex before justify-content-center align-items-center col-12" style="padding: 0px; margin: 0px;" routerLink="/login" *ngIf="!IsLogged">
        <li class="d-flex justify-content-center">Log In</li>
      </ul>
      <div class="sidebar_toggle" id="sidebar_toggle" (click)="onclick()" *ngIf="IsLogged" >
        <div class="toggle_btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="cross">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="slider_list d-flex justify-content-center col-12"> 
    <div class="col-md-4 col-8 inner_list">
      <ul class="">
        <li routerLink="/Men" routerLinkActive="active">Men</li>
        <li routerLink="/Women" routerLinkActive="active">Women</li>
        <li routerLink="/Kids" routerLinkActive="active">Kids</li>
      </ul>
    </div>
  </div>

  <div class="smlist slide col-6 d-sm-block d-md-none">
    <div class="img d-flex justify-content-center pt-5">
      <img src="../../../assets/Godope..png" alt="" [style.width]="'80%'" />
    </div>
    <div
      class="ul d-flex flex-column justify-content-around align-items-center col-12 pb-5"
      [style.height]="'70vh'"
    >
      <ul
        [style.height]="'50vh'"
        class="d-flex flex-column justify-content-around align-items-center pb-5"
      >
      <li routerLink="/Home" routerLinkActive="slider_active" (click)="onclick()">home</li>

        <li routerLink="/wishlist" routerLinkActive="slider_active" (click)="onclick()">
          wishlist
        </li>
        <li routerLink="/cart" routerLinkActive="slider_active" (click)="onclick()">
          Cart<mat-icon
            *ngIf="count != 0"
            matBadge="{{ count }}"
            matBadgeColor="warn"
          ></mat-icon>
        </li >
        <li routerLinkActive="slider_active" (click)="onclick()" >Orders</li>
        <li routerLinkActive="slider_active" (click)="onclick()" >Log Out</li>
      </ul>
    </div>
  </div>
</div>
