<div class="main">
<div class="footer col-12 row">
    <div class="logo d-md-block d-flex justify-content-center col-md-4 col-12" >
        <h1>Godope</h1>
    </div>
    <div class="list d-flex justify-content-center align-items-center col-md-4 col-12" >
        <ul class="d-flex">
            <li>ABOUT</li>
            <li>FAQ</li>
            <li>CONTACT US</li>
        </ul>
    </div>
    <div class="media d-flex justify-content-center align-items-center col-md-4 col-12">
        <i class="ms-4 bi bi-whatsapp"></i>
        <i class="ms-4 bi bi-facebook"></i>
        <i class="ms-4 bi bi-instagram"></i>
    </div>
</div>
<div class="copy d-flex justify-content-center  pt-2 col-12">
    <div class="name d-flex ">    
        <i class="bi bi-c-circle"></i> <p>Copyright</p>
    </div>


</div>
</div>