<section>
    <div class="col-12 container-fluid row footer mt-md-5 ps-3 ps-md-0">
      <!-- footer logo part -->

      <div
        class="logo_section pt-5 pt-md-0 pb-md-1 ps-md-1 col-12 col-md-3"
      >
        <div class="col-12 col-md-8">
          <div class="logo" >
            <img src="../../../assets/Godope..png" [width]="200" alt="">
          </div>
        </div>
      </div>

      <div
        class="menu_page_detials d-flex flex-column justify-content-between col-md-2 pt-3 pt-md-0 pb-md-1"
      >
        <h2>Categories</h2>

        <span><a routerLink="/Men">Men </a></span>
        <span><a routerLink="/Women">Women</a> </span>
        <span><a routerLink="/Kids">Kids</a> </span>
        <span><a routerLink="/Beauty">Beauty</a> </span>
      </div>

      <div
        class="menu_page_detials d-flex flex-column col-md-2 pt-3 pt-md-0 pb-md-1"
      >
        <h2>Legel</h2>

        <span><a>Terms & Services </a></span>
        <span><a>Privacy</a> </span>
      </div>

      <!-- menu page detials -->
      <div
        class="menu_page_detials d-flex flex-column col-md-2 pt-3 pt-md-0 pb-md-1"
      >
        <h2>Pages</h2>
        <span><a>About</a></span>
        <span><a>FA</a></span>
      </div>

      <div class="footer_content_section col-md-12 pt-md-0">
        <div
          class="main_media col-md-12 pt-3 pt-md-0 pb-3 pb-md-0 d-flex justify-content-md-center"
        >
          <div
            class="media_links col-md-3 mt-md-3 d-flex ps-3 ps-md-0 justify-content-between"
          >
            <span><i class="bi bi-facebook"></i></span>
            <span><i class="bi bi-instagram"></i></span>
            <span><i class="bi bi-whatsapp"></i></span>
            <span><i class="bi bi-messenger"></i></span>
          </div>
        </div>
      </div>

      <!-- copyright section -->

      <div
        class="copyright d-flex justify-content-center flex-column align-items-center pt-md-3"
      >
        <span>
          <div class="line mb-md-1"></div>
          <p style="text-align: center">
            &#169; 2024 Godope | Clothing Company Private
            Limited
          </p>
        </span>
      </div>
    </div>
  </section>