
        <div class="login col-12 d-flex flex-column align-items-center justify-content-center mt-5 pt-5" *ngIf="!isAdminLogged">
          <h1>Admin Log In</h1>
          <div class="error text-danger">
            {{loginMessage}}
          </div>
          <div class="input col-3 ps-5">
            <form [formGroup]="reg" (ngSubmit)="onsubmit()">
              <input
                type="Email"
                class="form-control"
                placeholder="Email"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submit && f.email.errors }"
              />
              <div *ngIf="submit && f.email.errors">
                <div
                  *ngIf="f.email.errors['required']"
                  class="warn text-danger"
                >
                  Field required
                </div>
                <div *ngIf="f.email.errors['email']" class="warn text-danger">
                  invalid format(eg: john@gmail.com)
                </div>
              </div>
              <input
                type="password"
                class="form-control"
                placeholder="password"
                formControlName="password"
                [ngClass]="{ 'is-invalid': submit && f.password.errors }"

              />
              <div *ngIf="submit && f.password.errors">
                <div
                  *ngIf="f.password.errors['pattern']"
                  class="warn text-danger"
                >
                  minimum 8 digits required
                </div>
                <div
                  *ngIf="f.password.errors['required']"
                  class="warn text-danger"
                >
                  Field required
                </div>
              </div>
              <button class="form-control btn btn-dark">Sign In</button>
            </form>
          </div>
        </div>

        
        <div class="active" *ngIf="isAdminLogged">
          <div class="nav_bar col-12 d-flex py-3 ">
            <div class="logo col-md-3">
              <img src="../../../assets/Godope..png" routerLink="/admin" alt="" [width]="250">
            </div>
            <div class="searchbar col-md-4 py-3">
              <input type="text" class="form-control" placeholder="Search products">
            </div>
            <div class="menu col-md-5 py-3">
              <ul class="d-flex justify-content-center align-items-center py-3">
                <li class="btn btn-outline-dark me-3" routerLink="addProducts" routerLinkActive="is-active"><a>ADD PRODUCTS</a></li>
                <li class="btn btn-outline-dark me-3"><a>ORDERS</a></li>
                <li class="btn btn-outline-dark"><a (click)="removeadmin()">LOG OUT</a></li>
              </ul>
            </div>
          </div>
          
          <router-outlet></router-outlet>
          

        </div>
        