.main{
    background-color: white;
    border: 1px solid black;
    position: relative;
}
.btn{
    border-radius: 0;
    position: absolute;
    top: .7rem;
    right: 0;
}
.size p{
    background-color: black;
    color: white;
   
}
.cat{
    background-color: black;
    color: white;
}