.user_btn {
  border-radius: 0;
}
.main {
  margin: auto auto;
}
.size_button mat-button-toggle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: larger;
  border: 1px solid black;
  color: black;
}
.size_button mat-button-toggle:hover {
  background-color: black;
  color: aliceblue;
  transition: all 0.3s ease-in-out;
}
.size_button mat-button-toggle-group,.img_selector mat-button-toggle-group{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: transparent;
}
.size_button .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color: black;
  color: white;
}
.size_button .mat-button-toggle-group-appearance-standard
  .mat-button-toggle-appearance-standard
  + .mat-button-toggle-appearance-standard {
    border-left: 1px solid black;
}
.img img{
    width: 100%;
}
.img{
  position: relative;
}
.img .heartIcon{
  position: absolute;
  top: 0;
  right:0 ;
}
.line{
    height: 1px;
    width: 70%;
    background-color: black;
    margin: 20px 0px;
}
.img_selector mat-button-toggle {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: larger;
    border: 1px solid black;
    color: black;
  }
  .img_selector{
    margin: 0px auto;
  }
  
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
  .product_detials{
    height: fit-content;
  }
  .product_detials{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  .product_sale button{
    width: 150px;
  }
  
  .bicol{
    color: red;
    cursor: pointer;
  }
  @media screen and (max-width:768px)  {
    .line{
      width: 100%;
    }
  }