
.itemcount{
  height: fit-content;
}
.cat_card .card img {
  height: 200px;
  width: 200px;
}
.card {
  border-radius: 0px;
  border: transparent;
  width: 200px;
}
.detials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detials p {
  margin-bottom: 2px;
}
.detials p:nth-child(3) {
  color: rgb(236, 168, 79);
}
.detials p:nth-child(2):hover {
  text-decoration: underline;
  cursor: pointer;
}
.detials p:nth-child(1) {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
.cat_card {
  width: 200px;
}
.cat-div {
  grid-column-gap: 40px;
}
.row > * {
  padding: 0px 0px;
  margin: 0px;
}
.star i,
.star p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
}
.img {
  position: relative;
}
.hover {
  position: absolute;
  width: 100%;
  top: 89%;
}
.hover button {
  width: 100%;
  transition: all 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  border: transparent;
  color: #f8f0e3;
}
.color_div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.filter_box {
  box-shadow: 1px -1px 3px 0px rgba(0, 0, 0, 0.2);
}

.hover button:hover {
  background-color: black;
}
.hover-heart {
  position: absolute;
  right: 10px;
  top: 10px;
}
.hover-heart button {
  border: transparent;
  background-color: transparent;
  font-size: 26px;
}

.bi-col {
  color: red;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-color: black;
  background-color: transparent;
  border-radius: 0px;
}
.filter{
  position: sticky;
  top: 0px;
  position: -webkit-sticky;
  height: fit-content;
}
mat-chip-option{
  border-radius: 0px !important;
  border: 1px solid black;
  background-color: transparent !important;
}
.mat-mdc-standard-chip.mat-mdc-chip-selected{
  background-color: black !important;
  color: white !important;
}
.row{
  margin-left: 0px;
}
@media screen and (max-width: 768px) {
  .cat-div {
    grid-column-gap: 0px;
  }
  .cat{
    position: relative;
  }
  .filter_btn{
    border-radius: 0px;
  }
  .filter{
    position: absolute;
    top: auto;
    transition: all .5s ease-in-out;
    left: -1000px;
    z-index: 10000;
    background-color: white;
    /* overflow-y: scroll; */
  }
  
  .filter_active{
    left: 0px ;
    transition: all .5s ease-in-out;
  }
  .cat_card {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
