/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    
}
li,p,h1{
    cursor: context-menu;
}
/* :root{
    --margin-top: 500px;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.btn-outline-dark:focus,.form-control:active, .form-control:focus,.form-control:active{
    box-shadow: none;
    outline: none;

}